<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mbg.mapper.HmsResignationStaffMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.mbg.model.HmsResignationStaff">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resignation_reference_num" jdbcType="VARCHAR" property="resignationReferenceNum" />
    <result column="resign_date" jdbcType="DATE" property="resignDate" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.company.payroll.mbg.model.HmsResignationStaff">
    <result column="reason" jdbcType="LONGVARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resignation_reference_num, resign_date, file_id, staff_id, modified_date, modified_by
  </sql>
  <sql id="Blob_Column_List">
    reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hms_resignation_staff
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hms_resignation_staff
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.mbg.model.HmsResignationStaff">
    insert into hms_resignation_staff (id, resignation_reference_num, resign_date, 
      file_id, staff_id, modified_date, 
      modified_by, reason)
    values (#{id,jdbcType=BIGINT}, #{resignationReferenceNum,jdbcType=VARCHAR}, #{resignDate,jdbcType=DATE}, 
      #{fileId,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=BIGINT}, #{reason,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.mbg.model.HmsResignationStaff">
    insert into hms_resignation_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resignationReferenceNum != null">
        resignation_reference_num,
      </if>
      <if test="resignDate != null">
        resign_date,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resignationReferenceNum != null">
        #{resignationReferenceNum,jdbcType=VARCHAR},
      </if>
      <if test="resignDate != null">
        #{resignDate,jdbcType=DATE},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.mbg.model.HmsResignationStaff">
    update hms_resignation_staff
    <set>
      <if test="resignationReferenceNum != null">
        resignation_reference_num = #{resignationReferenceNum,jdbcType=VARCHAR},
      </if>
      <if test="resignDate != null">
        resign_date = #{resignDate,jdbcType=DATE},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.company.payroll.mbg.model.HmsResignationStaff">
    update hms_resignation_staff
    set resignation_reference_num = #{resignationReferenceNum,jdbcType=VARCHAR},
      resign_date = #{resignDate,jdbcType=DATE},
      file_id = #{fileId,jdbcType=BIGINT},
      staff_id = #{staffId,jdbcType=BIGINT},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=BIGINT},
      reason = #{reason,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.mbg.model.HmsResignationStaff">
    update hms_resignation_staff
    set resignation_reference_num = #{resignationReferenceNum,jdbcType=VARCHAR},
      resign_date = #{resignDate,jdbcType=DATE},
      file_id = #{fileId,jdbcType=BIGINT},
      staff_id = #{staffId,jdbcType=BIGINT},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>