<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mbg.mapper.HmsStaffFilestoreMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.mbg.model.HmsStaffFilestore">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_table_type" jdbcType="VARCHAR" property="fileTableType" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="uploaded_by" jdbcType="BIGINT" property="uploadedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_name, file_size, file_type, file_path, file_table_type, staff_id, modified_date, 
    uploaded_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hms_staff_filestore
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hms_staff_filestore
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.mbg.model.HmsStaffFilestore">
    insert into hms_staff_filestore (id, file_name, file_size, 
      file_type, file_path, file_table_type, 
      staff_id, modified_date, uploaded_by
      )
    values (#{id,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, 
      #{fileType,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{fileTableType,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=BIGINT}, #{modifiedDate,jdbcType=TIMESTAMP}, #{uploadedBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.mbg.model.HmsStaffFilestore">
    insert into hms_staff_filestore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="fileTableType != null">
        file_table_type,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="uploadedBy != null">
        uploaded_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileTableType != null">
        #{fileTableType,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadedBy != null">
        #{uploadedBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.mbg.model.HmsStaffFilestore">
    update hms_staff_filestore
    <set>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileTableType != null">
        file_table_type = #{fileTableType,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadedBy != null">
        uploaded_by = #{uploadedBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.mbg.model.HmsStaffFilestore">
    update hms_staff_filestore
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      file_table_type = #{fileTableType,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=BIGINT},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      uploaded_by = #{uploadedBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>