<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mbg.mapper.HmsTimeoffTypeBalanceMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.mbg.model.HmsTimeoffTypeBalance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="timeoff_type_id" jdbcType="BIGINT" property="timeoffTypeId" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
    <result column="type_balance" jdbcType="INTEGER" property="typeBalance" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, timeoff_type_id, staff_id, type_balance, modified_date, modified_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hms_timeoff_type_balance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hms_timeoff_type_balance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.mbg.model.HmsTimeoffTypeBalance">
    insert into hms_timeoff_type_balance (id, timeoff_type_id, staff_id, 
      type_balance, modified_date, modified_by
      )
    values (#{id,jdbcType=BIGINT}, #{timeoffTypeId,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, 
      #{typeBalance,jdbcType=INTEGER}, #{modifiedDate,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.mbg.model.HmsTimeoffTypeBalance">
    insert into hms_timeoff_type_balance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="timeoffTypeId != null">
        timeoff_type_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="typeBalance != null">
        type_balance,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="timeoffTypeId != null">
        #{timeoffTypeId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="typeBalance != null">
        #{typeBalance,jdbcType=INTEGER},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.mbg.model.HmsTimeoffTypeBalance">
    update hms_timeoff_type_balance
    <set>
      <if test="timeoffTypeId != null">
        timeoff_type_id = #{timeoffTypeId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="typeBalance != null">
        type_balance = #{typeBalance,jdbcType=INTEGER},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.mbg.model.HmsTimeoffTypeBalance">
    update hms_timeoff_type_balance
    set timeoff_type_id = #{timeoffTypeId,jdbcType=BIGINT},
      staff_id = #{staffId,jdbcType=BIGINT},
      type_balance = #{typeBalance,jdbcType=INTEGER},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>