<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian Section</title>
    <link rel="stylesheet" type='text/css' th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type='text/css' th:href="@{/css/main.css}"/>
</head>
<body>
    <header>
        <div th:replace="~{navigation/librarian-nav :: librarianNav}"></div>
    </header>
    <div class="container-fluid">
        <div th:replace="~{carousel/librarian-carousel :: librarianCarousel}"></div>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>