<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Issued Book Page</title>
    <link rel="stylesheet" type='text/css' th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type='text/css' th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <div th:replace="~{navigation/librarian-nav :: librarianNav}"></div>
</header>

<div class="container">
    <h3 class="text-center">Issued Book Page</h3>

    <div th:if="${issueBooks !=null and !issueBooks.empty}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope='col'>Callno</th>
                <th scope='col'>Student ID</th>
                <th scope='col'>Student Name</th>
                <th scope='col'>Phone Number</th>
                <th scope='col'>Issued Date</th>
                <th scope='col'>Return Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="issueBook : ${issueBooks}">
                <th scope="row" th:text="${issueBook.callno}"></th>
                <td th:text="${issueBook.stud_id}"></td>
                <td th:text="${issueBook.stud_name}"></td>
                <td th:text="${issueBook.stud_phone}"></td>
                <td th:text="${issueBook.issueddate}"></td>
                <td th:text="${issueBook.returnstatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${issueBooks == null or issueBooks.empty}" class="alert alert-info" role="alert">
        No issued books.
    </div>
</div>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>