<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  	xmlns="http://xmlns.jcp.org/xml/ns/j2ee" 
  	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/j2ee 
  						http://xmlns.jcp.org/xml/ns/j2ee/web-app_3_1.xsd"
  	id="WebApp_ID" version="3.1">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.librarian.elibrarian.servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.librarian.elibrarian.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddLibrarian</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.AddLibrarian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewLibrarian</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.ViewLibrarian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditLibrarian</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.EditLibrarian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteLibrarian</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.DeleteLibrarian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.AddBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewBook</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.ViewBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.DeleteBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IssueBook</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.IssueBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewIssuedBook</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.ViewIssuedBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>com.librarian.elibrarian.servlet.ReturnBook</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddLibrarian</servlet-name>
    <url-pattern>/AddLibrarian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewLibrarian</servlet-name>
    <url-pattern>/ViewLibrarian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditLibrarian</servlet-name>
    <url-pattern>/EditLibrarian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteLibrarian</servlet-name>
    <url-pattern>/DeleteLibrarian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewBook</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IssueBook</servlet-name>
    <url-pattern>/IssueBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewIssuedBook</servlet-name>
    <url-pattern>/ViewIssuedBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
</web-app>
