<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>hr_dynamicweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.Admin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGetForm</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.AdminGetForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminPostForm</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.AdminPostForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Manager</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.Manager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerGetForm</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.ManagerGetForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerPostForm</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.ManagerPostForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Employee</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.Employee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeGetForm</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.EmployeeGetForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeePostForm</servlet-name>
    <servlet-class>v2.com.company.payroll.controller.EmployeePostForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/user-logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/v2/admin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGetForm</servlet-name>
    <url-pattern>/v2/admin/form/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPostForm</servlet-name>
    <url-pattern>/v2/admin/form/submit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/v2/manager/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerGetForm</servlet-name>
    <url-pattern>/v2/manager/form/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerPostForm</servlet-name>
    <url-pattern>/v2/manager/form/submit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/v2/employee/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeGetForm</servlet-name>
    <url-pattern>/v2/employee/form/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeePostForm</servlet-name>
    <url-pattern>/v2/employee/form/submit/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>com.company.payroll.servlet.DoLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.company.payroll.servlet.AdminController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerController</servlet-name>
    <servlet-class>com.company.payroll.servlet.ManagerController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.company.payroll.servlet.EmployeeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddManagerController</servlet-name>
    <servlet-class>com.company.payroll.servlet.AddManagerController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployeeController</servlet-name>
    <servlet-class>com.company.payroll.servlet.AddEmployeeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditFormController</servlet-name>
    <servlet-class>com.company.payroll.servlet.EditFormController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.company.payroll.servlet.DeleteUserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IssueIncrementController</servlet-name>
    <servlet-class>com.company.payroll.servlet.IssueIncrementController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IssueSalaryController</servlet-name>
    <servlet-class>com.company.payroll.servlet.IssueSalaryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditLeaveStatusController</servlet-name>
    <servlet-class>com.company.payroll.servlet.EditLeaveStatusController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditLoanStatusController</servlet-name>
    <servlet-class>com.company.payroll.servlet.EditLoanStatusController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IssueTrainingController</servlet-name>
    <servlet-class>com.company.payroll.servlet.IssueTrainingController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IssueResignationController</servlet-name>
    <servlet-class>com.company.payroll.servlet.IssueResignationController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeEditInfoController</servlet-name>
    <servlet-class>com.company.payroll.servlet.EmployeeEditInfoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeChangePasswordController</servlet-name>
    <servlet-class>com.company.payroll.servlet.EmployeeChangePasswordController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTrainingController</servlet-name>
    <servlet-class>com.company.payroll.servlet.UpdateTrainingController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApplyLeaveController</servlet-name>
    <servlet-class>com.company.payroll.servlet.ApplyLeaveController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApplyLoanController</servlet-name>
    <servlet-class>com.company.payroll.servlet.ApplyLoanController</servlet-class>
  </servlet> 
  
  <filter>
      <filter-name>AuthenticationFilter</filter-name>
      <filter-class>com.company.payroll.interceptor.AuthenticationFilter</filter-class>
  </filter>
  
  <!-- <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerController</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddManagerController</servlet-name>
    <url-pattern>/addManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>AddEmployeeController</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EditFormController</servlet-name>
    <url-pattern>/updateInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/deleteInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>IssueIncrementController</servlet-name>
    <url-pattern>/issueIncrement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>IssueSalaryController</servlet-name>
    <url-pattern>/issueSalary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EditLeaveStatusController</servlet-name>
    <url-pattern>/updateLeaveStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EditLoanStatusController</servlet-name>
    <url-pattern>/updateLoanStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>IssueTrainingController</servlet-name>
    <url-pattern>/issueTraining</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>IssueResignationController</servlet-name>
    <url-pattern>/issueResignation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EmployeeEditInfoController</servlet-name>
    <url-pattern>/editInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EmployeeChangePasswordController</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>UpdateTrainingController</servlet-name>
    <url-pattern>/updateTrainingInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ApplyLeaveController</servlet-name>
    <url-pattern>/applyLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ApplyLoanController</servlet-name>
    <url-pattern>/applyLoan</url-pattern>
  </servlet-mapping> -->
  
  <filter-mapping>
      <filter-name>AuthenticationFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>