<header th:fragment="librarianNav" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/MainPage}">
                <div id="main-logo" alt="e-library"></div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/MainPage}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{Books/AddBook}">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{Books/ViewBook}">View Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{Books/IssueBook}">Issue Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{Books/ViewIssuedBook}">View Issued Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{Books/ReturnBook}">Return Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-lg-none d-xl-none d-xxl-none" th:href="@{Logout}">Logout</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link" th:href="@{Logout}">
                <form class="d-flex justify-content-end">
                    <button class="btn btn-outline-light me-2 d-none d-lg-block" type="button">Logout</button>
                </form>
            </a>
        </div>
    </nav>
</header>