<h3>Add Book Form</h3>
<form action="AddBook" method="POST">
  <div class="form-row">
    <div class="form-group col-8 mb-3">
      <label for="book_callno" class="form-label">Callno</label>
      <input type="text" class="form-control" id="book_callno" name="book_callno"/>
    </div>
    <div class="form-group col-8 mb-3">
      <label for="book_name" class="form-label">Name</label>
      <input type="text" class="form-control" id="book_name" name="book_name"/>
    </div>
    <div class="form-group col-8 mb-3">
      <label for="book_author" class="form-label">Author</label>
      <input type="text" class="form-control" id="book_author" name="book_author"/>
    </div>
    <div class="form-group col-8 mb-3">
      <label for="book_publisher" class="form-label">Publisher</label>
      <input type="text" class="form-control" id="book_publisher" name="book_publisher"/>
    </div>
    <div class="form-group col-8 mb-3">
      <label for="book_quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="book_quantity" name="book_quantity"/>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save Book</button> 
</form>