{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
    "ConnectionStrings": {
        "DbConnectionString": "Server={serverName};Database={dbName};User Id={userId};Password={password};Trusted_Connection=True;TrustServerCertificate=True;"
    }
}
